<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" 
          content="width=device-width, height=device-height, 
                     minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
    <title>Insert title here</title>
</head>
 
<body>
    <embed id="video"src="https://player.vimeo.com/external/598879603.sd.mp4?s=42f49f520bcfb7a574718840a70cc19bca5e8157&profile_id=165&oauth2_token_id=57447761" width="600px" height="600px">
    <ul><%=d%></ul>    
    </body>
</html>

