<!DOCTYPE html>
<html>
  <head>
    <title>Dangerous Goods</title>
  </head>
    <body>
      <h1>Dangerous Goods Page</h1>
      <form>
        <button type="button" onclick="location.href='/DangerousGoods/Insert'">insert</button>
        <button type="button" onclick="location.href='/DangerousGoods/Delete'">delete</button>
      </form>
  </body>
</html>
