<!DOCTYPE html>
<html>
  <head>
    <title>Delete Dangerous Goods</title>
  </head>
    <body>
      <h1>Delete Dangerous Goods Page</h1>
      <form>
        <p>input1</p><input id="input1" type="text" placeholder=""/>
        <p>input2</p><input id="input2" type="text" placeholder=""/>
        <p>input3</p><input id="input3" type="text" placeholder=""/>
        <p>input4</p><input id="input4" type="text" placeholder=""/>
        <p>input5</p><input id="input5" type="text" placeholder=""/>
        <button id="btn">submit</button>
      </form>
  </body>
</html>
