<!DOCTYPE html>
<html>
  <head>
    <title>Delete Dangerous Goods</title>
  </head>
    <body>
      <h1>Delete Dangerous Goods Page</h1>

      <form>
        <p>Goods list</p>
        <% for(var i = 0; i < data.length; i++) { %>
          <input id=<%= i %> type="checkbox" />
          <label><%= data[i] %></label>
          </br>
        <% } %>
        <button>submit</button>
      </form>

  </body>
</html>
