<!DOCTYPE html>
<html>
  <head>
    <title>insert Dangerous Goods</title>
  </head>
    <body>
      <h1>Insert Dangerous Goods Page</h1>
      <form>
        <p>input1</p><input id="input1" type="text" placeholder=""/>
        <p>input2</p><input id="input2" type="text" placeholder=""/>
        <p>input3</p><input id="input3" type="text" placeholder=""/>
        <p>input4</p><input id="input4" type="text" placeholder=""/>
        <p>input5</p><input id="input5" type="text" placeholder=""/>
        <button id="btn">submit</button>
        <button type="button" onclick="location.href='/'">메인</button>
        <button type="button" onclick="location.href='/DangerousGoods'">이전</button>
      </form>
  </body>
</html>
