<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Button Example</title>
    <style>
      button {
        margin: 10px 20px;
      }
    </style>
  </head>
  <body>
    <form action="/Camera" method="GET">
    <button id="Camera" >카메라</button>
    </form>
    <form action="/SleepPattern" method="GET">
    <button id="SleepPattern" >수면패턴</button>
    </form>
    <form action="/DangerousGoods" method="GET">
    <button id="DangerousGoods" >위험물건 표시</button>
    </form>
    <form action="/RadiusOfAction" method="GET">
    <button id="RadiusOfAction" >아이 행동반경</button>
    </form>
    <form action="/Slip" method="GET">
    <button id="Slip" >온도,습도</button>
    </form>
  </body>
</html>