<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>최근 수면패턴 표시</title>
  </head>
  <body>
    <div id="greetings"></div>
    <script>
  
    </script>
    <ul><%=data.sleep%>에 수면시작</ul>  
    <ul><%=data.wake%>에 기상</ul>  
  </body>
</html>